extends layout

block content
  p Poll created by #{poll_user}
  .poll(name="votepoll", id="#{poll_id}")
    each answer in answers
      input(name="poll", type="radio", value="#{answer.answer}")
      |#{answer.answer}
    button#pollVote(type="submit") Submit
  .create-poll
    input(type="text", name="answer1")
    input(type="text", name="answer2")
    button#createPoll(type="submit") Create Poll
  #errors
    
