extends layout

block content
  .poll
    h1 Would you rather ____  ?
    div.answers(name="votepoll", id="#{poll_id}")
      ul.list-group
        each answer in answers
          li.list-group-item
            input.answer(name="poll", type="radio", value="#{answer.answer}")
            |#{answer.answer}
      p 
        button#pollVote.btn.btn-lg.btn-success.btn-block(type="submit") Submit
        button#nextPoll.btn.btn-lg.btn-success.btn-block(type="submit") Next
    .create-poll
      button#nextPoll.btn.btn-lg.btn-success(type="submit") Create Poll
        input(type="text", name="answer1")
        input(type="text", name="answer2")
    #errors
    
