body {
  background: #f1f0ef;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

footer{
  width: 30%;
  padding-top: 10px;
  margin: auto;
  opacity: 0.9;
  text-align: center;
}

.poll{
  max-width: 500px;
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
}

.answers{
  padding-top: 25px;
}

.answer{
 margin-left:2px:
}

.create-poll{
  /*display: none;*/
}

.list-group-item:hover{
  background-color: rgba(226, 255, 231, 0.86);
}

#overlay{

}

#polo {
  font-family:garamond;
  font-stretch:ultra-condensed;
  text-align:center;
  font-size:60px;
  margin-top:20px;
  padding-bottom:0px;
  z-index: 30;
}

#voteCount {
  font-size:40px;
  position:absolute;
  font-family: sans-serif;
  margin-left:43%;
  margin-right:57%;
}

#donut_single {
  position: static;
  margin-top : 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: -10;
  outline: 1px solid #B1ADAD;
}

#create{
  display:none;
}

input[type="radio"]{
  visibility:hidden;
}

.animated {
  -webkit-animation-duration: 1s; 
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown { 
  0% {
    opacity:0;
    -webkit-transform: translateY(-20px); 
  }
  100% {
    opacity:1;
    -webkit-transform: translateY(0); 
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0; 
    transform: translateY(-20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown; 
  animation-name: fadeInDown; 
}
